.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
    overflow-x: hidden;
}

.img {
    width: 100%;
    background: lightgray;
    height: 0 auto;
    background: var(--tg-theme-button-color);

}